####################################################################################
# Redmi AC2100 (RM2100) Padavan 3.4 配置文件
####################################################################################

### Target Platform 目标平台与内核配置 (关键项)
CONFIG_VENDOR=Ralink
CONFIG_PRODUCT=MT7621
CONFIG_FIRMWARE_PRODUCT_ID="RM2100"
CONFIG_LINUXDIR=linux-3.4.x
CONFIG_FIRMWARE_KERNEL_CONFIG=kernel-3.4.x-5.0.config

### 基础网络与 SFE 快速转发加速
CONFIG_FIRMWARE_ENABLE_IPV6=y
CONFIG_FIRMWARE_ENABLE_SFE=y
CONFIG_FIRMWARE_INCLUDE_SFE=y
CONFIG_FIRMWARE_ENABLE_EXT_SFE=n
CONFIG_FIRMWARE_ENABLE_FLOWOFFLOAD=n
CONFIG_FIRMWARE_INCLUDE_UGET=n
CONFIG_FIRMWARE_INCLUDE_IPSET=y
CONFIG_FIRMWARE_INCLUDE_IPTABLES=y
CONFIG_FIRMWARE_INCLUDE_DNSMASQ=y

### 无线驱动相关 (MT7615D)
CONFIG_FIRMWARE_WIFI_MT7615_PA_LNA=y

### 管理与安全服务 (允许随时在 Web 后台开关 SSH)
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y
CONFIG_FIRMWARE_INCLUDE_HTTPS=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=n

### 科学上网插件：Shadowsocks Plus 核心套件
CONFIG_FIRMWARE_INCLUDE_SHADOWSOCKS=y
CONFIG_FIRMWARE_INCLUDE_SSOBFS=y
CONFIG_FIRMWARE_INCLUDE_XRAY=y
CONFIG_FIRMWARE_INCLUDE_V2RAY=n
CONFIG_FIRMWARE_INCLUDE_TROJAN=n
CONFIG_FIRMWARE_INCLUDE_PACKAGE_OVERLAY=n

### 性能极致优化：禁用所有非必要冗余服务 (腾出 ROM 和 RAM)
CONFIG_FIRMWARE_INCLUDE_SMBD=n
CONFIG_FIRMWARE_INCLUDE_SMBD36=n
CONFIG_FIRMWARE_INCLUDE_WINS=n
CONFIG_FIRMWARE_INCLUDE_FTPD=n
CONFIG_FIRMWARE_INCLUDE_MINIDLNA=n
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION=n
CONFIG_FIRMWARE_INCLUDE_ARIA=n
CONFIG_FIRMWARE_INCLUDE_DUMP1090=n
CONFIG_FIRMWARE_INCLUDE_CURL=y
CONFIG_FIRMWARE_INCLUDE_TTYD=n
CONFIG_FIRMWARE_INCLUDE_TCPDUMP=n
CONFIG_FIRMWARE_INCLUDE_VLMCSD=n
CONFIG_FIRMWARE_INCLUDE_SRELAY=n
CONFIG_FIRMWARE_INCLUDE_IPERF3=n
CONFIG_FIRMWARE_INCLUDE_SOCAT=n
CONFIG_FIRMWARE_INCLUDE_FRPC=n
CONFIG_FIRMWARE_INCLUDE_FRPS=n
CONFIG_FIRMWARE_INCLUDE_OPENVPN=n
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_SERVER=n
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_CLIENT=n
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_CMD=n
CONFIG_FIRMWARE_INCLUDE_WIREGUARD=n

### 文件系统支持 (AC2100 无 USB 接口，彻底禁用)
CONFIG_FIRMWARE_ENABLE_EXT2=n
CONFIG_FIRMWARE_ENABLE_EXT3=n
CONFIG_FIRMWARE_ENABLE_EXT4=n
CONFIG_FIRMWARE_ENABLE_FAT=n
CONFIG_FIRMWARE_ENABLE_EXFAT=n
CONFIG_FIRMWARE_ENABLE_NTFS=n
CONFIG_FIRMWARE_INCLUDE_NTFS_3G=n
CONFIG_FIRMWARE_INCLUDE_HFS=n
CONFIG_FIRMWARE_INCLUDE_FDISK=n
CONFIG_FIRMWARE_INCLUDE_E2FSPROGS=n
CONFIG_FIRMWARE_INCLUDE_PARTED=n
CONFIG_FIRMWARE_INCLUDE_USB=n
